In [1]:
from games_db import GamesDB

import numpy as np
import pandas as pd

In [2]:
# create db instance to retrieve stored games
gamesDB = GamesDB()

# get all games from mongodb as a list of dictionaries
nba_games_raw = gamesDB.retrieve_all()
print(nba_games_raw[0])

# convert list of dictionaries into df
games_df = gamesDB.convert_to_df(nba_games_raw)
print(games_df)

{'_id': ObjectId('5e8b3c9055dca7119bcd0e8f'), 'GAME_DATE_EST': '2019-10-22T00:00:00', 'GAME_SEQUENCE': '1', 'GAME_ID': '0021900001', 'TEAM_ID': '1610612740', 'TEAM_ABBREVIATION': 'NOP', 'TEAM_CITY_NAME': 'New Orleans', 'TEAM_NAME': 'Pelicans', 'TEAM_WINS_LOSSES': '0-1', 'PTS_QTR1': '30', 'PTS_QTR2': '31', 'PTS_QTR3': '25', 'PTS_QTR4': '31', 'PTS_OT1': '5', 'PTS_OT2': '0', 'PTS_OT3': '0', 'PTS_OT4': '0', 'PTS_OT5': '0', 'PTS_OT6': '0', 'PTS_OT7': '0', 'PTS_OT8': '0', 'PTS_OT9': '0', 'PTS_OT10': '0', 'PTS': '122', 'FG_PCT': '0.422', 'FT_PCT': '0.85', 'FG3_PCT': '0.422', 'AST': '30', 'REB': '53', 'TOV': '19'}
                           _id        GAME_DATE_EST GAME_SEQUENCE     GAME_ID  \
0     5e8b3c9055dca7119bcd0e8f  2019-10-22T00:00:00             1  0021900001
1     5e8b3c9055dca7119bcd0e91  2019-10-22T00:00:00             1  0021900001
2     5e8b3c9055dca7119bcd0e93  2019-10-22T00:00:00             2  0021900002
3     5e8b3c9055dca7119bcd0e95  2019-10-22T00:00:00             2  0021900002
4     5e8b3c9155dca7119bcd0e97  2019-10-23T00:00:00             1  0021900003
...                        ...                  ...           ...         ...
1939  5e8c6c652371b2dbaa0b4c42  2020-03-11T00:00:00             5  0021900970
1940  5e8c6c652371b2dbaa0b4c44  2020-03-11T00:00:00             5  0021900970
1941  5e8c6c652371b2dbaa0b4c46  2020-03-11T00:00:00             6  0021900973
1942  5e8c6c652371b2dbaa0b4c48  2020-03-11T00:00:00             6  0021900973
1943  5e8cc2f5fe274128a4fb69e9  2020-02-16T00:00:00             1  0031900001

         TEAM_ID TEAM_ABBREVIATION TEAM_CITY_NAME  TEAM_NAME TEAM_WINS_LOSSES  \
0     1610612740               NOP    New Orleans   Pelicans              0-1
1     1610612761               TOR        Toronto    Raptors              1-0
2     1610612747               LAL    Los Angeles     Lakers              0-1
3     1610612746               LAC             LA   Clippers              1-0
4     1610612741               CHI        Chicago      Bulls              0-1
...          ...               ...            ...        ...              ...
1939  1610612766               CHA      Charlotte    Hornets            23-42
1940  1610612748               MIA          Miami       Heat            41-24
1941  1610612743               DEN         Denver    Nuggets            43-22
1942  1610612742               DAL         Dallas  Mavericks            40-27
1943  1610616834               LBN           Team     LeBron              1-0

     PTS_QTR1  ... PTS_OT8 PTS_OT9 PTS_OT10  PTS FG_PCT FT_PCT FG3_PCT AST  \
0          30  ...       0       0        0  122  0.422   0.85   0.422  30
1          27  ...       0       0        0  130  0.408  0.842    0.35  23
2          25  ...       0       0        0  102  0.435  0.714   0.394  20
3          22  ...       0       0        0  112  0.519  0.708   0.355  24
4          28  ...       0       0        0  125  0.467  0.818     0.3  25
...       ...  ...     ...     ...      ...  ...    ...    ...     ...  ..
1939       22  ...       0       0        0  109  0.451  0.818     0.5  20
1940       40  ...       0       0        0   98  0.464  0.833   0.341  32
1941       29  ...       0       0        0   97   0.47  0.625   0.359  23
1942       33  ...       0       0        0  113  0.457  0.739   0.343  23
1943       53  ...       0       0        0  157    0.5   0.55   0.343  39

     REB TOV
0     53  19
1     57  16
2     41  14
3     45  14
4     49  10
...   ..  ..
1939  50  14
1940  36  14
1941  40  15
1942  52  10
1943  49  18

[1944 rows x 30 columns]

In [3]:
print(games_df.shape)
print(games_df.columns)
print(games_df.dtypes)

(1944, 30)
Index(['_id', 'GAME_DATE_EST', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_NAME', 'TEAM_WINS_LOSSES',
       'PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV'],
      dtype='object')
_id                  object
GAME_DATE_EST        object
GAME_SEQUENCE        object
GAME_ID              object
TEAM_ID              object
TEAM_ABBREVIATION    object
TEAM_CITY_NAME       object
TEAM_NAME            object
TEAM_WINS_LOSSES     object
PTS_QTR1             object
PTS_QTR2             object
PTS_QTR3             object
PTS_QTR4             object
PTS_OT1              object
PTS_OT2              object
PTS_OT3              object
PTS_OT4              object
PTS_OT5              object
PTS_OT6              object
PTS_OT7              object
PTS_OT8              object
PTS_OT9              object
PTS_OT10             object
PTS                  object
FG_PCT               object
FT_PCT               object
FG3_PCT              object
AST                  object
REB                  object
TOV                  object
dtype: object

In [4]:
obj_cols = ['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2', 'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8', 'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV']

games_df[obj_cols] = games_df[obj_cols].apply(pd.to_numeric, errors='coerce')

str_cols = ['GAME_DATE_EST', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_NAME', 'TEAM_WINS_LOSSES']

games_df[str_cols] = games_df[str_cols].astype('str')

In [5]:
print(games_df.head(12))

_id        GAME_DATE_EST GAME_SEQUENCE     GAME_ID  \
0   5e8b3c9055dca7119bcd0e8f  2019-10-22T00:00:00             1  0021900001
1   5e8b3c9055dca7119bcd0e91  2019-10-22T00:00:00             1  0021900001
2   5e8b3c9055dca7119bcd0e93  2019-10-22T00:00:00             2  0021900002
3   5e8b3c9055dca7119bcd0e95  2019-10-22T00:00:00             2  0021900002
4   5e8b3c9155dca7119bcd0e97  2019-10-23T00:00:00             1  0021900003
5   5e8b3c9155dca7119bcd0e99  2019-10-23T00:00:00             1  0021900003
6   5e8b3c9155dca7119bcd0e9b  2019-10-23T00:00:00             2  0021900004
7   5e8b3c9155dca7119bcd0e9d  2019-10-23T00:00:00             2  0021900004
8   5e8b3c9155dca7119bcd0e9f  2019-10-23T00:00:00             3  0021900005
9   5e8b3c9155dca7119bcd0ea1  2019-10-23T00:00:00             3  0021900005
10  5e8b3c9155dca7119bcd0ea3  2019-10-23T00:00:00             4  0021900006
11  5e8b3c9155dca7119bcd0ea5  2019-10-23T00:00:00             4  0021900006

       TEAM_ID TEAM_ABBREVIATION TEAM_CITY_NAME     TEAM_NAME  \
0   1610612740               NOP    New Orleans      Pelicans
1   1610612761               TOR        Toronto       Raptors
2   1610612747               LAL    Los Angeles        Lakers
3   1610612746               LAC             LA      Clippers
4   1610612741               CHI        Chicago         Bulls
5   1610612766               CHA      Charlotte       Hornets
6   1610612765               DET        Detroit       Pistons
7   1610612754               IND        Indiana        Pacers
8   1610612739               CLE      Cleveland     Cavaliers
9   1610612753               ORL        Orlando         Magic
10  1610612750               MIN      Minnesota  Timberwolves
11  1610612751               BKN       Brooklyn          Nets

   TEAM_WINS_LOSSES  PTS_QTR1  ...  PTS_OT8  PTS_OT9  PTS_OT10  PTS  FG_PCT  \
0               0-1        30  ...        0        0         0  122   0.422
1               1-0        27  ...        0        0         0  130   0.408
2               0-1        25  ...        0        0         0  102   0.435
3               1-0        22  ...        0        0         0  112   0.519
4               0-1        28  ...        0        0         0  125   0.467
5               1-0        37  ...        0        0         0  126   0.511
6               1-0        27  ...        0        0         0  119   0.526
7               0-1        24  ...        0        0         0  110   0.461
8               0-1        24  ...        0        0         0   85   0.375
9               1-0        28  ...        0        0         0   94   0.430
10              1-0        33  ...        0        0         0  127   0.426
11              0-1        22  ...        0        0         0  126   0.475

    FT_PCT  FG3_PCT  AST  REB  TOV
0    0.850    0.422   30   53   19
1    0.842    0.350   23   57   16
2    0.714    0.394   20   41   14
3    0.708    0.355   24   45   14
4    0.818    0.300   25   49   10
5    0.813    0.523   28   41   19
6    0.788    0.458   26   45   18
7    0.833    0.381   26   36   15
8    0.667    0.265   20   54   16
9    0.579    0.300   24   46   13
10   0.786    0.302   23   52   13
11   0.577    0.441   19   48   16

[12 rows x 30 columns]

In [6]:
games_df.describe()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.0,1944.0,1944.0,1944.0,...,1944.0,1944.0,1944.0,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,27.898663,28.100823,27.697531,27.072016,0.675412,0.047840,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,111.492284,0.460948,0.768782,0.356963,24.361626,44.864712,13.885802
std,6.016149,5.818769,6.118497,6.080770,2.807624,0.695752,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,12.485336,0.054985,0.101776,0.085486,4.921555,6.736318,4.061205
min,9.000000,10.000000,10.000000,6.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,73.000000,0.269000,0.375000,0.094000,11.000000,25.000000,3.000000
25%,24.000000,24.000000,23.000000,23.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,103.000000,0.422000,0.704000,0.300000,21.000000,40.000000,11.000000
50%,28.000000,28.000000,28.000000,27.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,111.000000,0.460000,0.774000,0.357000,24.000000,45.000000,14.000000
75%,32.000000,32.000000,32.000000,31.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,120.000000,0.500000,0.839000,0.415000,28.000000,49.000000,17.000000
max,53.000000,51.000000,49.000000,51.000000,21.000000,14.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,159.000000,0.674000,1.000000,0.680000,43.000000,67.000000,28.000000

In [7]:
win_col = []

# loop through df and assign binary var who won
for index, row in games_df.iterrows():
    # get opponent for game id 
    game_id = row['GAME_ID']
    team_id = row['TEAM_ID']
    opponent_row = games_df[(games_df['GAME_ID'] == game_id) & (games_df['TEAM_ID'] != team_id)]
    opponent_score = int(opponent_row['PTS'].values[0])

    row_score = int(row['PTS'])

    # get score of opponent and assign winner 
    is_winner = 1 if opponent_score < row_score else 0
    win_col.append(is_winner)

print(len(win_col))

games_df["IS_WINNER"] = win_col

1944

In [8]:
games_df[(games_df['TEAM_ID'] == "1610616834")]

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
1943,5e8cc2f5fe274128a4fb69e9,2020-02-16T00:00:00,1,0031900001,1610616834,LBN,Team,LeBron,1-0,53,...,0,0,157,0.5,0.55,0.343,39,49,18,1

In [9]:
print(list(gamesDB.games_db.find({"TEAM_ID":"1610616833"})))

[{'_id': ObjectId('5e8c6c462371b2dbaa0b49d5'), 'TEAM_CITY_NAME': 'Team', 'GAME_DATE_EST': '2020-02-16T00:00:00', 'PTS_OT10': '0', 'TEAM_ID': '1610616833', 'REB': '61', 'TEAM_NAME': 'Giannis', 'TEAM_WINS_LOSSES': '0-1', 'GAME_SEQUENCE': '1', 'TEAM_ABBREVIATION': 'GNS', 'PTS_OT8': '0', 'PTS_OT9': '0', 'PTS_OT2': '0', 'PTS_OT3': '0', 'PTS_OT1': '0', 'PTS': '155', 'PTS_OT7': '0', 'PTS_OT4': '0', 'PTS_OT5': '0', 'TOV': '21', 'GAME_ID': '0031900001', 'FT_PCT': '0.632', 'PTS_OT6': '0', 'FG_PCT': '0.537', 'AST': '38', 'FG3_PCT': '0.275', 'PTS_QTR3': '41', 'PTS_QTR2': '51', 'PTS_QTR1': '41', 'PTS_QTR4': '22'}]

In [10]:
games_df.describe()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.0,1944.0,1944.0,1944.0,...,1944.0,1944.0,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,27.898663,28.100823,27.697531,27.072016,0.675412,0.047840,0.0,0.0,0.0,0.0,...,0.0,0.0,111.492284,0.460948,0.768782,0.356963,24.361626,44.864712,13.885802,0.500000
std,6.016149,5.818769,6.118497,6.080770,2.807624,0.695752,0.0,0.0,0.0,0.0,...,0.0,0.0,12.485336,0.054985,0.101776,0.085486,4.921555,6.736318,4.061205,0.500129
min,9.000000,10.000000,10.000000,6.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,73.000000,0.269000,0.375000,0.094000,11.000000,25.000000,3.000000,0.000000
25%,24.000000,24.000000,23.000000,23.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,103.000000,0.422000,0.704000,0.300000,21.000000,40.000000,11.000000,0.000000
50%,28.000000,28.000000,28.000000,27.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,111.000000,0.460000,0.774000,0.357000,24.000000,45.000000,14.000000,0.500000
75%,32.000000,32.000000,32.000000,31.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,120.000000,0.500000,0.839000,0.415000,28.000000,49.000000,17.000000,1.000000
max,53.000000,51.000000,49.000000,51.000000,21.000000,14.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,159.000000,0.674000,1.000000,0.680000,43.000000,67.000000,28.000000,1.000000

In [11]:
games_df.head()

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
0,5e8b3c9055dca7119bcd0e8f,2019-10-22T00:00:00,1,0021900001,1610612740,NOP,New Orleans,Pelicans,0-1,30,...,0,0,122,0.422,0.850,0.422,30,53,19,0
1,5e8b3c9055dca7119bcd0e91,2019-10-22T00:00:00,1,0021900001,1610612761,TOR,Toronto,Raptors,1-0,27,...,0,0,130,0.408,0.842,0.350,23,57,16,1
2,5e8b3c9055dca7119bcd0e93,2019-10-22T00:00:00,2,0021900002,1610612747,LAL,Los Angeles,Lakers,0-1,25,...,0,0,102,0.435,0.714,0.394,20,41,14,0
3,5e8b3c9055dca7119bcd0e95,2019-10-22T00:00:00,2,0021900002,1610612746,LAC,LA,Clippers,1-0,22,...,0,0,112,0.519,0.708,0.355,24,45,14,1
4,5e8b3c9155dca7119bcd0e97,2019-10-23T00:00:00,1,0021900003,1610612741,CHI,Chicago,Bulls,0-1,28,...,0,0,125,0.467,0.818,0.300,25,49,10,0

## Exploratory Data Analysis

In [12]:
games_df.describe()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.0,1944.0,1944.0,1944.0,...,1944.0,1944.0,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,27.898663,28.100823,27.697531,27.072016,0.675412,0.047840,0.0,0.0,0.0,0.0,...,0.0,0.0,111.492284,0.460948,0.768782,0.356963,24.361626,44.864712,13.885802,0.500000
std,6.016149,5.818769,6.118497,6.080770,2.807624,0.695752,0.0,0.0,0.0,0.0,...,0.0,0.0,12.485336,0.054985,0.101776,0.085486,4.921555,6.736318,4.061205,0.500129
min,9.000000,10.000000,10.000000,6.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,73.000000,0.269000,0.375000,0.094000,11.000000,25.000000,3.000000,0.000000
25%,24.000000,24.000000,23.000000,23.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,103.000000,0.422000,0.704000,0.300000,21.000000,40.000000,11.000000,0.000000
50%,28.000000,28.000000,28.000000,27.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,111.000000,0.460000,0.774000,0.357000,24.000000,45.000000,14.000000,0.500000
75%,32.000000,32.000000,32.000000,31.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,120.000000,0.500000,0.839000,0.415000,28.000000,49.000000,17.000000,1.000000
max,53.000000,51.000000,49.000000,51.000000,21.000000,14.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,159.000000,0.674000,1.000000,0.680000,43.000000,67.000000,28.000000,1.000000

In [13]:
games_df['IS_WINNER'].value_counts()

1    972
0    972
Name: IS_WINNER, dtype: int64

In [14]:
games_df.groupby('IS_WINNER').mean()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
IS_WINNER,,,,,,,,,,,,,,,,,,,,,
0,26.385802,26.816872,26.220165,25.750000,0.530864,0.037037,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,105.740741,0.435853,0.759907,0.328004,23.109053,42.662551,14.091564
1,29.411523,29.384774,29.174897,28.394033,0.819959,0.058642,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,117.243827,0.486042,0.777656,0.385922,25.614198,47.066872,13.680041

In [15]:
print(games_df.dtypes)

_id                   object
GAME_DATE_EST         object
GAME_SEQUENCE         object
GAME_ID               object
TEAM_ID               object
TEAM_ABBREVIATION     object
TEAM_CITY_NAME        object
TEAM_NAME             object
TEAM_WINS_LOSSES      object
PTS_QTR1               int64
PTS_QTR2               int64
PTS_QTR3               int64
PTS_QTR4               int64
PTS_OT1                int64
PTS_OT2                int64
PTS_OT3                int64
PTS_OT4                int64
PTS_OT5                int64
PTS_OT6                int64
PTS_OT7                int64
PTS_OT8                int64
PTS_OT9                int64
PTS_OT10               int64
PTS                    int64
FG_PCT               float64
FT_PCT               float64
FG3_PCT              float64
AST                    int64
REB                    int64
TOV                    int64
IS_WINNER              int64
dtype: object

### Feature Engineering

In [24]:
# create unique list of team ids
unique_team_ids = games_df['TEAM_ID'].unique()

# create a data frame dictionary to store data frames by team_id
games_by_team = {elem : pd.DataFrame for elem in unique_team_ids}

for key in games_by_team.keys():
    games_by_team[key] = games_df[:][games_df['TEAM_ID'] == key]

In [26]:
games_by_team['1610612743']

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
24,5e8b3c9155dca7119bcd0ebf,2019-10-23T00:00:00,11,0021900013,1610612743,DEN,Denver,Nuggets,1-0,24,...,0,0,108,0.420,0.815,0.563,24,45,19,1
45,5e8b3c9455dca7119bcd0ee9,2019-10-25T00:00:00,7,0021900023,1610612743,DEN,Denver,Nuggets,2-0,15,...,0,0,108,0.391,0.806,0.259,21,45,14,1
98,5e8b3c9855dca7119bcd0f53,2019-10-28T00:00:00,10,0021900050,1610612743,DEN,Denver,Nuggets,3-0,21,...,0,0,101,0.367,0.905,0.278,19,54,10,1
105,5e8b3c9955dca7119bcd0f61,2019-10-29T00:00:00,2,0021900053,1610612743,DEN,Denver,Nuggets,3-1,31,...,0,0,106,0.473,0.692,0.344,24,50,10,0
132,5e8b3c9c55dca7119bcd0f98,2019-10-31T00:00:00,2,0021900067,1610612743,DEN,Denver,Nuggets,3-2,30,...,0,0,107,0.483,0.875,0.269,24,35,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,5e8c6c5c2371b2dbaa0b4b52,2020-03-03T00:00:00,5,0021900913,1610612743,DEN,Denver,Nuggets,41-20,25,...,0,0,100,0.448,0.731,0.150,22,53,15,0
1849,5e8c6c5f2371b2dbaa0b4b86,2020-03-05T00:00:00,1,0021900926,1610612743,DEN,Denver,Nuggets,42-20,31,...,0,0,114,0.530,0.900,0.308,29,38,12,1
1881,5e8c6c602371b2dbaa0b4bc6,2020-03-07T00:00:00,3,0021900942,1610612743,DEN,Denver,Nuggets,42-21,33,...,0,0,102,0.506,0.375,0.406,28,33,17,0
1914,5e8c6c642371b2dbaa0b4c08,2020-03-09T00:00:00,2,0021900958,1610612743,DEN,Denver,Nuggets,43-21,39,...,0,0,109,0.436,0.917,0.390,28,48,12,1
1941,5e8c6c652371b2dbaa0b4c46,2020-03-11T00:00:00,6,0021900973,1610612743,DEN,Denver,Nuggets,43-22,29,...,0,0,97,0.470,0.625,0.359,23,40,15,0

In [78]:
games_by_team['1610612764']

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
16,5e8b3c9155dca7119bcd0eaf,2019-10-23T00:00:00,7,0021900009,1610612764,WAS,Washington,Wizards,0-1,25,...,0,0,100,0.398,0.833,0.268,26,47,17,0
42,5e8b3c9455dca7119bcd0ee3,2019-10-25T00:00:00,6,0021900022,1610612764,WAS,Washington,Wizards,1-1,28,...,0,0,97,0.402,0.800,0.268,21,47,15,1
64,5e8b3c9555dca7119bcd0f0f,2019-10-26T00:00:00,8,0021900033,1610612764,WAS,Washington,Wizards,1-2,26,...,0,0,122,0.495,0.706,0.471,30,41,12,0
121,5e8b3c9a55dca7119bcd0f82,2019-10-30T00:00:00,7,0021900061,1610612764,WAS,Washington,Wizards,1-3,34,...,0,0,158,0.626,0.828,0.556,31,40,19,0
159,5e8b3c9f55dca7119bcd0fce,2019-11-02T00:00:00,4,0021900080,1610612764,WAS,Washington,Wizards,1-4,34,...,0,0,109,0.389,0.852,0.343,21,39,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,5e8c6c5c2371b2dbaa0b4b5c,2020-03-03T00:00:00,8,0021900916,1610612764,WAS,Washington,Wizards,22-38,23,...,0,0,126,0.513,0.824,0.421,28,31,14,0
1847,5e8c6c5d2371b2dbaa0b4b80,2020-03-04T00:00:00,9,0021900925,1610612764,WAS,Washington,Wizards,22-39,30,...,0,0,104,0.388,0.619,0.314,27,48,10,0
1858,5e8c6c602371b2dbaa0b4b98,2020-03-06T00:00:00,1,0021900930,1610612764,WAS,Washington,Wizards,23-39,33,...,0,0,118,0.474,0.886,0.484,24,38,16,1
1900,5e8c6c622371b2dbaa0b4bec,2020-03-08T00:00:00,6,0021900951,1610612764,WAS,Washington,Wizards,23-40,23,...,0,0,89,0.333,0.857,0.404,19,29,13,0
1920,5e8c6c652371b2dbaa0b4c14,2020-03-10T00:00:00,2,0021900961,1610612764,WAS,Washington,Wizards,24-40,36,...,0,0,122,0.473,0.844,0.400,23,37,16,1

In [ ]:
# calculate running average 
def running_avg(data):
    running_avg = []

    for i in range(len(data)):
        avg = sum(data[:i+1]) / (i + 1)
        running_avg.append(avg)
    return running_avg
    
print(running_avg(games_by_team['1610612743']['PTS']))

In [88]:
print("Shape of data feature dfs: {} and {}".format(games_by_team['1610612743'].shape, avg_features.shape))

Shape of data feature dfs: (65, 31) and (65, 22)

In [92]:
def calc_dynamic_features(games_dic):

    for df_key in games_dic.keys():
        print("Calculating features for team: {}".format(df_key))

        # for every numeric column calculate running average
        cols = games_by_team[df_key].select_dtypes([np.number]).columns
        print("Numeric columns: {}".format(cols))

        data = {}

        # calculate average at point t 
        for col in cols:
            data[col + '_AVG'] = running_avg(games_by_team[df_key][col])

        avg_features = pd.DataFrame(data)

        # concatenate new features to old df
        games_by_team[df_key] = pd.concat([games_by_team[df_key], avg_features.set_index(games_by_team[df_key].index)], axis=1)

calc_dynamic_features(games_by_team)

Calculating features for team: 1610612740
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612761
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612747
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612746
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612741
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612766
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612765
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612754
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612739
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612753
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612750
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612751
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612763
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612748
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612738
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612755
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612764
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612742
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612752
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612759
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612760
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612762
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612758
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612756
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612743
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612757
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612737
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612749
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612745
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610612744
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610616833
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')
Calculating features for team: 1610616834
Numeric columns: Index(['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV', 'IS_WINNER'],
      dtype='object')

In [90]:
# concat avg with original features
test_df = pd.concat([games_by_team['1610612743'], avg_features.set_index(games_by_team['1610612743'].index)], axis=1)
test_df

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9_AVG,PTS_OT10_AVG,PTS_AVG,FG_PCT_AVG,FT_PCT_AVG,FG3_PCT_AVG,AST_AVG,REB_AVG,TOV_AVG,IS_WINNER_AVG
24,5e8b3c9155dca7119bcd0ebf,2019-10-23T00:00:00,11,0021900013,1610612743,DEN,Denver,Nuggets,1-0,24,...,0.0,0.0,108.000000,0.420000,0.815000,0.563000,24.000000,45.000000,19.000000,1.000000
45,5e8b3c9455dca7119bcd0ee9,2019-10-25T00:00:00,7,0021900023,1610612743,DEN,Denver,Nuggets,2-0,15,...,0.0,0.0,108.000000,0.405500,0.810500,0.411000,22.500000,45.000000,16.500000,1.000000
98,5e8b3c9855dca7119bcd0f53,2019-10-28T00:00:00,10,0021900050,1610612743,DEN,Denver,Nuggets,3-0,21,...,0.0,0.0,105.666667,0.392667,0.842000,0.366667,21.333333,48.000000,14.333333,1.000000
105,5e8b3c9955dca7119bcd0f61,2019-10-29T00:00:00,2,0021900053,1610612743,DEN,Denver,Nuggets,3-1,31,...,0.0,0.0,105.750000,0.412750,0.804500,0.361000,22.000000,48.500000,13.250000,0.750000
132,5e8b3c9c55dca7119bcd0f98,2019-10-31T00:00:00,2,0021900067,1610612743,DEN,Denver,Nuggets,3-2,30,...,0.0,0.0,106.000000,0.426800,0.818600,0.342600,22.400000,45.800000,13.400000,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,5e8c6c5c2371b2dbaa0b4b52,2020-03-03T00:00:00,5,0021900913,1610612743,DEN,Denver,Nuggets,41-20,25,...,0.0,0.0,110.721311,0.471213,0.773574,0.351639,26.491803,44.573770,12.868852,0.672131
1849,5e8c6c5f2371b2dbaa0b4b86,2020-03-05T00:00:00,1,0021900926,1610612743,DEN,Denver,Nuggets,42-20,31,...,0.0,0.0,110.774194,0.472161,0.775613,0.350935,26.532258,44.467742,12.854839,0.677419
1881,5e8c6c602371b2dbaa0b4bc6,2020-03-07T00:00:00,3,0021900942,1610612743,DEN,Denver,Nuggets,42-21,33,...,0.0,0.0,110.634921,0.472698,0.769254,0.351810,26.555556,44.285714,12.920635,0.666667
1914,5e8c6c642371b2dbaa0b4c08,2020-03-09T00:00:00,2,0021900958,1610612743,DEN,Denver,Nuggets,43-21,39,...,0.0,0.0,110.609375,0.472125,0.771563,0.352406,26.578125,44.343750,12.906250,0.671875
1941,5e8c6c652371b2dbaa0b4c46,2020-03-11T00:00:00,6,0021900973,1610612743,DEN,Denver,Nuggets,43-22,29,...,0.0,0.0,110.400000,0.472092,0.769308,0.352508,26.523077,44.276923,12.938462,0.661538

In [95]:
games_by_team['1610612764']

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9_AVG,PTS_OT10_AVG,PTS_AVG,FG_PCT_AVG,FT_PCT_AVG,FG3_PCT_AVG,AST_AVG,REB_AVG,TOV_AVG,IS_WINNER_AVG
16,5e8b3c9155dca7119bcd0eaf,2019-10-23T00:00:00,7,0021900009,1610612764,WAS,Washington,Wizards,0-1,25,...,0.0,0.0,100.000000,0.398000,0.833000,0.268000,26.000000,47.000000,17.000000,0.000000
42,5e8b3c9455dca7119bcd0ee3,2019-10-25T00:00:00,6,0021900022,1610612764,WAS,Washington,Wizards,1-1,28,...,0.0,0.0,98.500000,0.400000,0.816500,0.268000,23.500000,47.000000,16.000000,0.500000
64,5e8b3c9555dca7119bcd0f0f,2019-10-26T00:00:00,8,0021900033,1610612764,WAS,Washington,Wizards,1-2,26,...,0.0,0.0,106.333333,0.431667,0.779667,0.335667,25.666667,45.000000,14.666667,0.333333
121,5e8b3c9a55dca7119bcd0f82,2019-10-30T00:00:00,7,0021900061,1610612764,WAS,Washington,Wizards,1-3,34,...,0.0,0.0,119.250000,0.480250,0.791750,0.390750,27.000000,43.750000,15.750000,0.250000
159,5e8b3c9f55dca7119bcd0fce,2019-11-02T00:00:00,4,0021900080,1610612764,WAS,Washington,Wizards,1-4,34,...,0.0,0.0,117.200000,0.462000,0.803800,0.381200,25.800000,42.800000,16.000000,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,5e8c6c5c2371b2dbaa0b4b5c,2020-03-03T00:00:00,8,0021900916,1610612764,WAS,Washington,Wizards,22-38,23,...,0.0,0.0,116.100000,0.465100,0.781100,0.370400,25.466667,41.933333,13.416667,0.366667
1847,5e8c6c5d2371b2dbaa0b4b80,2020-03-04T00:00:00,9,0021900925,1610612764,WAS,Washington,Wizards,22-39,30,...,0.0,0.0,115.901639,0.463836,0.778443,0.369475,25.491803,42.032787,13.360656,0.360656
1858,5e8c6c602371b2dbaa0b4b98,2020-03-06T00:00:00,1,0021900930,1610612764,WAS,Washington,Wizards,23-39,33,...,0.0,0.0,115.935484,0.464000,0.780177,0.371323,25.467742,41.967742,13.403226,0.370968
1900,5e8c6c622371b2dbaa0b4bec,2020-03-08T00:00:00,6,0021900951,1610612764,WAS,Washington,Wizards,23-40,23,...,0.0,0.0,115.507937,0.461921,0.781397,0.371841,25.365079,41.761905,13.396825,0.365079
1920,5e8c6c652371b2dbaa0b4c14,2020-03-10T00:00:00,2,0021900961,1610612764,WAS,Washington,Wizards,24-40,36,...,0.0,0.0,115.609375,0.462094,0.782375,0.372281,25.328125,41.687500,13.437500,0.375000

In [96]:
test_result = pd.merge(games_by_team['1610612743'], games_by_team['1610612764'], on=['GAME_ID'])
test_result

,_id_x,GAME_DATE_EST_x,GAME_SEQUENCE_x,GAME_ID,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_CITY_NAME_x,TEAM_NAME_x,TEAM_WINS_LOSSES_x,PTS_QTR1_x,...,PTS_OT9_AVG_y,PTS_OT10_AVG_y,PTS_AVG_y,FG_PCT_AVG_y,FT_PCT_AVG_y,FG3_PCT_AVG_y,AST_AVG_y,REB_AVG_y,TOV_AVG_y,IS_WINNER_AVG_y
0,5e8b3cbf55dca7119bcd1281,2019-11-26T00:00:00,2,0021900252,1610612743,DEN,Denver,Nuggets,13-3,25,...,0.0,0.0,118.066667,0.477133,0.782267,0.371733,28.600000,42.333333,14.066667,0.333333
1,5e8c6c0f2371b2dbaa0b453d,2020-01-04T00:00:00,6,0021900528,1610612743,DEN,Denver,Nuggets,24-11,19,...,0.0,0.0,116.114286,0.461486,0.786343,0.366486,25.971429,42.171429,13.085714,0.314286

In [113]:
dfs = list(games_by_team.values())
#dfs = [df.set_index('GAME_ID') for df in dfs]
#pd.concat([df.set_index('GAME_ID') for df in dfs], axis=1, join='inner').reset_index()

Empty DataFrame
Columns: [GAME_ID, _id, GAME_DATE_EST, GAME_SEQUENCE, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY_NAME, TEAM_NAME, TEAM_WINS_LOSSES, PTS_QTR1, PTS_QTR2, PTS_QTR3, PTS_QTR4, PTS_OT1, PTS_OT2, PTS_OT3, PTS_OT4, PTS_OT5, PTS_OT6, PTS_OT7, PTS_OT8, PTS_OT9, PTS_OT10, PTS, FG_PCT, FT_PCT, FG3_PCT, AST, REB, TOV, IS_WINNER, PTS_QTR1_AVG, PTS_QTR2_AVG, PTS_QTR3_AVG, PTS_QTR4_AVG, PTS_OT1_AVG, PTS_OT2_AVG, PTS_OT3_AVG, PTS_OT4_AVG, PTS_OT5_AVG, PTS_OT6_AVG, PTS_OT7_AVG, PTS_OT8_AVG, PTS_OT9_AVG, PTS_OT10_AVG, PTS_AVG, FG_PCT_AVG, FT_PCT_AVG, FG3_PCT_AVG, AST_AVG, REB_AVG, TOV_AVG, IS_WINNER_AVG, _id, GAME_DATE_EST, GAME_SEQUENCE, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY_NAME, TEAM_NAME, TEAM_WINS_LOSSES, PTS_QTR1, PTS_QTR2, PTS_QTR3, PTS_QTR4, PTS_OT1, PTS_OT2, PTS_OT3, PTS_OT4, PTS_OT5, PTS_OT6, PTS_OT7, PTS_OT8, PTS_OT9, PTS_OT10, PTS, FG_PCT, FT_PCT, FG3_PCT, AST, REB, TOV, IS_WINNER, PTS_QTR1_AVG, PTS_QTR2_AVG, PTS_QTR3_AVG, PTS_QTR4_AVG, PTS_OT1_AVG, PTS_OT2_AVG, PTS_OT3_AVG, PTS_OT4_AVG, PTS_OT5_AVG, PTS_OT6_AVG, PTS_OT7_AVG, PTS_OT8_AVG, PTS_OT9_AVG, PTS_OT10_AVG, PTS_AVG, FG_PCT_AVG, FT_PCT_AVG, ...]
Index: []

[0 rows x 1665 columns]

In [168]:
games_df_extended

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9_AVG,PTS_OT10_AVG,PTS_AVG,FG_PCT_AVG,FT_PCT_AVG,FG3_PCT_AVG,AST_AVG,REB_AVG,TOV_AVG,IS_WINNER_AVG
0,5e8b3c9055dca7119bcd0e8f,2019-10-22T00:00:00,1,0021900001,1610612740,NOP,New Orleans,Pelicans,0-1,30,...,0.0,0.0,122.000000,0.422000,0.850000,0.422000,30.000000,53.000000,19.000000,0.000000
41,5e8b3c9455dca7119bcd0ee1,2019-10-25T00:00:00,5,0021900021,1610612740,NOP,New Orleans,Pelicans,0-2,41,...,0.0,0.0,119.000000,0.440500,0.791500,0.394000,30.000000,50.500000,16.500000,0.000000
62,5e8b3c9555dca7119bcd0f0b,2019-10-26T00:00:00,7,0021900032,1610612740,NOP,New Orleans,Pelicans,0-3,24,...,0.0,0.0,120.333333,0.447000,0.798667,0.382667,29.000000,47.666667,16.666667,0.000000
93,5e8b3c9855dca7119bcd0f49,2019-10-28T00:00:00,7,0021900047,1610612740,NOP,New Orleans,Pelicans,0-4,23,...,0.0,0.0,121.000000,0.451750,0.735250,0.366750,30.750000,46.000000,16.250000,0.000000
133,5e8b3c9c55dca7119bcd0f9a,2019-10-31T00:00:00,2,0021900067,1610612740,NOP,New Orleans,Pelicans,1-4,32,...,0.0,0.0,121.200000,0.467800,0.744400,0.384400,30.600000,44.200000,16.000000,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,5e8c6c5f2371b2dbaa0b4b94,2020-03-05T00:00:00,4,0021900929,1610612744,GSW,Golden State,Warriors,14-49,27,...,0.0,0.0,106.142857,0.436810,0.800746,0.331984,25.523810,43.095238,14.507937,0.222222
1886,5e8c6c602371b2dbaa0b4bd0,2020-03-07T00:00:00,5,0021900944,1610612744,GSW,Golden State,Warriors,15-49,21,...,0.0,0.0,106.328125,0.438578,0.799953,0.332422,25.593750,42.968750,14.390625,0.234375
1932,5e8c6c652371b2dbaa0b4c2c,2020-03-10T00:00:00,8,0021900967,1610612744,GSW,Golden State,Warriors,15-50,26,...,0.0,0.0,106.338462,0.439031,0.800185,0.331754,25.584615,42.846154,14.307692,0.230769
1636,5e8c6c462371b2dbaa0b49d5,2020-02-16T00:00:00,1,0031900001,1610616833,GNS,Team,Giannis,0-1,41,...,0.0,0.0,155.000000,0.537000,0.632000,0.275000,38.000000,61.000000,21.000000,0.000000
1943,5e8cc2f5fe274128a4fb69e9,2020-02-16T00:00:00,1,0031900001,1610616834,LBN,Team,LeBron,1-0,53,...,0.0,0.0,157.000000,0.500000,0.550000,0.343000,39.000000,49.000000,18.000000,1.000000

In [167]:
# Consolidate data into one df
games_df_extended = pd.concat(dfs, axis=0)
print(games_df_extended.shape)

# group by GAME_ID to merge 
#games_df_final = games_df_extended.groupby('GAME_ID').nth(0)
games_df_final = games_df_extended.groupby('GAME_ID').nth(0)
games_df_final.columns

(1944, 53)

Index(['_id', 'GAME_DATE_EST', 'GAME_SEQUENCE', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'TEAM_CITY_NAME', 'TEAM_NAME', 'TEAM_WINS_LOSSES', 'PTS_QTR1',
       'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2', 'PTS_OT3',
       'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8', 'PTS_OT9',
       'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV',
       'IS_WINNER', 'PTS_QTR1_AVG', 'PTS_QTR2_AVG', 'PTS_QTR3_AVG',
       'PTS_QTR4_AVG', 'PTS_OT1_AVG', 'PTS_OT2_AVG', 'PTS_OT3_AVG',
       'PTS_OT4_AVG', 'PTS_OT5_AVG', 'PTS_OT6_AVG', 'PTS_OT7_AVG',
       'PTS_OT8_AVG', 'PTS_OT9_AVG', 'PTS_OT10_AVG', 'PTS_AVG', 'FG_PCT_AVG',
       'FT_PCT_AVG', 'FG3_PCT_AVG', 'AST_AVG', 'REB_AVG', 'TOV_AVG',
       'IS_WINNER_AVG'],
      dtype='object')

In [162]:
games_df['GAME_ID'].nunique()

972

In [181]:
games_df_final = pd.merge(games_df_extended, games_df_extended, on='GAME_ID', how='inner', suffixes=('_HOME', '_AWAY')).drop_duplicates(subset=['GAME_ID'], keep='first')
games_df_final

,_id_HOME,GAME_DATE_EST_HOME,GAME_SEQUENCE_HOME,GAME_ID,TEAM_ID_HOME,TEAM_ABBREVIATION_HOME,TEAM_CITY_NAME_HOME,TEAM_NAME_HOME,TEAM_WINS_LOSSES_HOME,PTS_QTR1_HOME,...,PTS_OT9_AVG_AWAY,PTS_OT10_AVG_AWAY,PTS_AVG_AWAY,FG_PCT_AVG_AWAY,FT_PCT_AVG_AWAY,FG3_PCT_AVG_AWAY,AST_AVG_AWAY,REB_AVG_AWAY,TOV_AVG_AWAY,IS_WINNER_AVG_AWAY
0,5e8b3c9055dca7119bcd0e8f,2019-10-22T00:00:00,1,0021900001,1610612740,NOP,New Orleans,Pelicans,0-1,30,...,0.0,0.0,122.000000,0.422000,0.850000,0.422000,30.000000,53.000000,19.000000,0.000000
4,5e8b3c9455dca7119bcd0ee1,2019-10-25T00:00:00,5,0021900021,1610612740,NOP,New Orleans,Pelicans,0-2,41,...,0.0,0.0,119.000000,0.440500,0.791500,0.394000,30.000000,50.500000,16.500000,0.000000
8,5e8b3c9555dca7119bcd0f0b,2019-10-26T00:00:00,7,0021900032,1610612740,NOP,New Orleans,Pelicans,0-3,24,...,0.0,0.0,120.333333,0.447000,0.798667,0.382667,29.000000,47.666667,16.666667,0.000000
12,5e8b3c9855dca7119bcd0f49,2019-10-28T00:00:00,7,0021900047,1610612740,NOP,New Orleans,Pelicans,0-4,23,...,0.0,0.0,121.000000,0.451750,0.735250,0.366750,30.750000,46.000000,16.250000,0.000000
16,5e8b3c9c55dca7119bcd0f9a,2019-10-31T00:00:00,2,0021900067,1610612740,NOP,New Orleans,Pelicans,1-4,32,...,0.0,0.0,121.200000,0.467800,0.744400,0.384400,30.600000,44.200000,16.000000,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3868,5e8c6c142371b2dbaa0b45c7,2020-01-08T00:00:00,9,0021900562,1610612749,MIL,Milwaukee,Bucks,33-6,19,...,0.0,0.0,118.923077,0.480359,0.729949,0.355333,25.871795,51.384615,14.102564,0.846154
3872,5e8b3ca355dca7119bcd103a,2019-11-06T00:00:00,5,0021900107,1610612745,HOU,Houston,Rockets,5-3,30,...,0.0,0.0,120.500000,0.433500,0.773875,0.328000,24.750000,45.625000,15.500000,0.625000
3876,5e8c6c012371b2dbaa0b441d,2019-12-25T00:00:00,3,0021900457,1610612745,HOU,Houston,Rockets,21-10,29,...,0.0,0.0,119.677419,0.453161,0.798581,0.349613,21.548387,47.258065,14.645161,0.677419
3880,5e8c6c4c2371b2dbaa0b49ee,2020-02-20T00:00:00,6,0021900825,1610612745,HOU,Houston,Rockets,35-20,38,...,0.0,0.0,118.472727,0.453491,0.792291,0.351236,21.545455,45.454545,14.018182,0.636364
3884,5e8c6c462371b2dbaa0b49d5,2020-02-16T00:00:00,1,0031900001,1610616833,GNS,Team,Giannis,0-1,41,...,0.0,0.0,155.000000,0.537000,0.632000,0.275000,38.000000,61.000000,21.000000,0.000000

### Benchmark Model

In [188]:
avg_cols = [col for col in games_df_final.columns if 'AVG' in col]
avg_cols

['PTS_QTR1_AVG_HOME',
 'PTS_QTR2_AVG_HOME',
 'PTS_QTR3_AVG_HOME',
 'PTS_QTR4_AVG_HOME',
 'PTS_OT1_AVG_HOME',
 'PTS_OT2_AVG_HOME',
 'PTS_OT3_AVG_HOME',
 'PTS_OT4_AVG_HOME',
 'PTS_OT5_AVG_HOME',
 'PTS_OT6_AVG_HOME',
 'PTS_OT7_AVG_HOME',
 'PTS_OT8_AVG_HOME',
 'PTS_OT9_AVG_HOME',
 'PTS_OT10_AVG_HOME',
 'PTS_AVG_HOME',
 'FG_PCT_AVG_HOME',
 'FT_PCT_AVG_HOME',
 'FG3_PCT_AVG_HOME',
 'AST_AVG_HOME',
 'REB_AVG_HOME',
 'TOV_AVG_HOME',
 'IS_WINNER_AVG_HOME',
 'PTS_QTR1_AVG_AWAY',
 'PTS_QTR2_AVG_AWAY',
 'PTS_QTR3_AVG_AWAY',
 'PTS_QTR4_AVG_AWAY',
 'PTS_OT1_AVG_AWAY',
 'PTS_OT2_AVG_AWAY',
 'PTS_OT3_AVG_AWAY',
 'PTS_OT4_AVG_AWAY',
 'PTS_OT5_AVG_AWAY',
 'PTS_OT6_AVG_AWAY',
 'PTS_OT7_AVG_AWAY',
 'PTS_OT8_AVG_AWAY',
 'PTS_OT9_AVG_AWAY',
 'PTS_OT10_AVG_AWAY',
 'PTS_AVG_AWAY',
 'FG_PCT_AVG_AWAY',
 'FT_PCT_AVG_AWAY',
 'FG3_PCT_AVG_AWAY',
 'AST_AVG_AWAY',
 'REB_AVG_AWAY',
 'TOV_AVG_AWAY',
 'IS_WINNER_AVG_AWAY']

In [190]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(games_df_final[avg_cols], games_df_final['IS_WINNER_HOME'], test_size=0.3, random_state=0, shuffle=True)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [191]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.65

In [192]:
y_test

3740    1
1116    0
56      1
2728    1
1832    0
       ..
80      0
3516    1
1400    1
1544    0
1140    0
Name: IS_WINNER_HOME, Length: 292, dtype: int64