In [1]:
from games_db import GamesDB

import numpy as np
import pandas as pd

In [2]:
# create db instance to retrieve stored games
gamesDB = GamesDB()

# get all games from mongodb as a list of dictionaries
nba_games_raw = gamesDB.retrieve_all()
print(nba_games_raw[0])

# convert list of dictionaries into df
games_df = gamesDB.convert_to_df(nba_games_raw)
print(games_df)

{'_id': ObjectId('5e8b3c9055dca7119bcd0e8f'), 'GAME_DATE_EST': '2019-10-22T00:00:00', 'GAME_SEQUENCE': '1', 'GAME_ID': '0021900001', 'TEAM_ID': '1610612740', 'TEAM_ABBREVIATION': 'NOP', 'TEAM_CITY_NAME': 'New Orleans', 'TEAM_NAME': 'Pelicans', 'TEAM_WINS_LOSSES': '0-1', 'PTS_QTR1': '30', 'PTS_QTR2': '31', 'PTS_QTR3': '25', 'PTS_QTR4': '31', 'PTS_OT1': '5', 'PTS_OT2': '0', 'PTS_OT3': '0', 'PTS_OT4': '0', 'PTS_OT5': '0', 'PTS_OT6': '0', 'PTS_OT7': '0', 'PTS_OT8': '0', 'PTS_OT9': '0', 'PTS_OT10': '0', 'PTS': '122', 'FG_PCT': '0.422', 'FT_PCT': '0.85', 'FG3_PCT': '0.422', 'AST': '30', 'REB': '53', 'TOV': '19'}
                           _id        GAME_DATE_EST GAME_SEQUENCE     GAME_ID  \
0     5e8b3c9055dca7119bcd0e8f  2019-10-22T00:00:00             1  0021900001
1     5e8b3c9055dca7119bcd0e91  2019-10-22T00:00:00             1  0021900001
2     5e8b3c9055dca7119bcd0e93  2019-10-22T00:00:00             2  0021900002
3     5e8b3c9055dca7119bcd0e95  2019-10-22T00:00:00             2  0021900002
4     5e8b3c9155dca7119bcd0e97  2019-10-23T00:00:00             1  0021900003
...                        ...                  ...           ...         ...
1939  5e8c6c652371b2dbaa0b4c42  2020-03-11T00:00:00             5  0021900970
1940  5e8c6c652371b2dbaa0b4c44  2020-03-11T00:00:00             5  0021900970
1941  5e8c6c652371b2dbaa0b4c46  2020-03-11T00:00:00             6  0021900973
1942  5e8c6c652371b2dbaa0b4c48  2020-03-11T00:00:00             6  0021900973
1943  5e8cc2f5fe274128a4fb69e9  2020-02-16T00:00:00             1  0031900001

         TEAM_ID TEAM_ABBREVIATION TEAM_CITY_NAME  TEAM_NAME TEAM_WINS_LOSSES  \
0     1610612740               NOP    New Orleans   Pelicans              0-1
1     1610612761               TOR        Toronto    Raptors              1-0
2     1610612747               LAL    Los Angeles     Lakers              0-1
3     1610612746               LAC             LA   Clippers              1-0
4     1610612741               CHI        Chicago      Bulls              0-1
...          ...               ...            ...        ...              ...
1939  1610612766               CHA      Charlotte    Hornets            23-42
1940  1610612748               MIA          Miami       Heat            41-24
1941  1610612743               DEN         Denver    Nuggets            43-22
1942  1610612742               DAL         Dallas  Mavericks            40-27
1943  1610616834               LBN           Team     LeBron              1-0

     PTS_QTR1  ... PTS_OT8 PTS_OT9 PTS_OT10  PTS FG_PCT FT_PCT FG3_PCT AST  \
0          30  ...       0       0        0  122  0.422   0.85   0.422  30
1          27  ...       0       0        0  130  0.408  0.842    0.35  23
2          25  ...       0       0        0  102  0.435  0.714   0.394  20
3          22  ...       0       0        0  112  0.519  0.708   0.355  24
4          28  ...       0       0        0  125  0.467  0.818     0.3  25
...       ...  ...     ...     ...      ...  ...    ...    ...     ...  ..
1939       22  ...       0       0        0  109  0.451  0.818     0.5  20
1940       40  ...       0       0        0   98  0.464  0.833   0.341  32
1941       29  ...       0       0        0   97   0.47  0.625   0.359  23
1942       33  ...       0       0        0  113  0.457  0.739   0.343  23
1943       53  ...       0       0        0  157    0.5   0.55   0.343  39

     REB TOV
0     53  19
1     57  16
2     41  14
3     45  14
4     49  10
...   ..  ..
1939  50  14
1940  36  14
1941  40  15
1942  52  10
1943  49  18

[1944 rows x 30 columns]

In [3]:
print(games_df.shape)
print(games_df.columns)
print(games_df.dtypes)

(1944, 30)
Index(['_id', 'GAME_DATE_EST', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_NAME', 'TEAM_WINS_LOSSES',
       'PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2',
       'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8',
       'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST',
       'REB', 'TOV'],
      dtype='object')
_id                  object
GAME_DATE_EST        object
GAME_SEQUENCE        object
GAME_ID              object
TEAM_ID              object
TEAM_ABBREVIATION    object
TEAM_CITY_NAME       object
TEAM_NAME            object
TEAM_WINS_LOSSES     object
PTS_QTR1             object
PTS_QTR2             object
PTS_QTR3             object
PTS_QTR4             object
PTS_OT1              object
PTS_OT2              object
PTS_OT3              object
PTS_OT4              object
PTS_OT5              object
PTS_OT6              object
PTS_OT7              object
PTS_OT8              object
PTS_OT9              object
PTS_OT10             object
PTS                  object
FG_PCT               object
FT_PCT               object
FG3_PCT              object
AST                  object
REB                  object
TOV                  object
dtype: object

In [4]:
obj_cols = ['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2', 'PTS_OT3', 'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8', 'PTS_OT9', 'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV']

games_df[obj_cols] = games_df[obj_cols].apply(pd.to_numeric, errors='coerce')

str_cols = ['GAME_DATE_EST', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_NAME', 'TEAM_WINS_LOSSES']

games_df[str_cols] = games_df[str_cols].astype('str')

In [5]:
print(games_df.head(12))

_id        GAME_DATE_EST GAME_SEQUENCE     GAME_ID  \
0   5e8b3c9055dca7119bcd0e8f  2019-10-22T00:00:00             1  0021900001
1   5e8b3c9055dca7119bcd0e91  2019-10-22T00:00:00             1  0021900001
2   5e8b3c9055dca7119bcd0e93  2019-10-22T00:00:00             2  0021900002
3   5e8b3c9055dca7119bcd0e95  2019-10-22T00:00:00             2  0021900002
4   5e8b3c9155dca7119bcd0e97  2019-10-23T00:00:00             1  0021900003
5   5e8b3c9155dca7119bcd0e99  2019-10-23T00:00:00             1  0021900003
6   5e8b3c9155dca7119bcd0e9b  2019-10-23T00:00:00             2  0021900004
7   5e8b3c9155dca7119bcd0e9d  2019-10-23T00:00:00             2  0021900004
8   5e8b3c9155dca7119bcd0e9f  2019-10-23T00:00:00             3  0021900005
9   5e8b3c9155dca7119bcd0ea1  2019-10-23T00:00:00             3  0021900005
10  5e8b3c9155dca7119bcd0ea3  2019-10-23T00:00:00             4  0021900006
11  5e8b3c9155dca7119bcd0ea5  2019-10-23T00:00:00             4  0021900006

       TEAM_ID TEAM_ABBREVIATION TEAM_CITY_NAME     TEAM_NAME  \
0   1610612740               NOP    New Orleans      Pelicans
1   1610612761               TOR        Toronto       Raptors
2   1610612747               LAL    Los Angeles        Lakers
3   1610612746               LAC             LA      Clippers
4   1610612741               CHI        Chicago         Bulls
5   1610612766               CHA      Charlotte       Hornets
6   1610612765               DET        Detroit       Pistons
7   1610612754               IND        Indiana        Pacers
8   1610612739               CLE      Cleveland     Cavaliers
9   1610612753               ORL        Orlando         Magic
10  1610612750               MIN      Minnesota  Timberwolves
11  1610612751               BKN       Brooklyn          Nets

   TEAM_WINS_LOSSES  PTS_QTR1  ...  PTS_OT8  PTS_OT9  PTS_OT10  PTS  FG_PCT  \
0               0-1        30  ...        0        0         0  122   0.422
1               1-0        27  ...        0        0         0  130   0.408
2               0-1        25  ...        0        0         0  102   0.435
3               1-0        22  ...        0        0         0  112   0.519
4               0-1        28  ...        0        0         0  125   0.467
5               1-0        37  ...        0        0         0  126   0.511
6               1-0        27  ...        0        0         0  119   0.526
7               0-1        24  ...        0        0         0  110   0.461
8               0-1        24  ...        0        0         0   85   0.375
9               1-0        28  ...        0        0         0   94   0.430
10              1-0        33  ...        0        0         0  127   0.426
11              0-1        22  ...        0        0         0  126   0.475

    FT_PCT  FG3_PCT  AST  REB  TOV
0    0.850    0.422   30   53   19
1    0.842    0.350   23   57   16
2    0.714    0.394   20   41   14
3    0.708    0.355   24   45   14
4    0.818    0.300   25   49   10
5    0.813    0.523   28   41   19
6    0.788    0.458   26   45   18
7    0.833    0.381   26   36   15
8    0.667    0.265   20   54   16
9    0.579    0.300   24   46   13
10   0.786    0.302   23   52   13
11   0.577    0.441   19   48   16

[12 rows x 30 columns]

In [6]:
games_df.describe()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.0,1944.0,1944.0,1944.0,...,1944.0,1944.0,1944.0,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,27.898663,28.100823,27.697531,27.072016,0.675412,0.047840,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,111.492284,0.460948,0.768782,0.356963,24.361626,44.864712,13.885802
std,6.016149,5.818769,6.118497,6.080770,2.807624,0.695752,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,12.485336,0.054985,0.101776,0.085486,4.921555,6.736318,4.061205
min,9.000000,10.000000,10.000000,6.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,73.000000,0.269000,0.375000,0.094000,11.000000,25.000000,3.000000
25%,24.000000,24.000000,23.000000,23.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,103.000000,0.422000,0.704000,0.300000,21.000000,40.000000,11.000000
50%,28.000000,28.000000,28.000000,27.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,111.000000,0.460000,0.774000,0.357000,24.000000,45.000000,14.000000
75%,32.000000,32.000000,32.000000,31.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,120.000000,0.500000,0.839000,0.415000,28.000000,49.000000,17.000000
max,53.000000,51.000000,49.000000,51.000000,21.000000,14.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,159.000000,0.674000,1.000000,0.680000,43.000000,67.000000,28.000000

In [7]:
win_col = []

# loop through df and assign binary var who won
for index, row in games_df.iterrows():
    # get opponent for game id 
    game_id = row['GAME_ID']
    team_id = row['TEAM_ID']
    opponent_row = games_df[(games_df['GAME_ID'] == game_id) & (games_df['TEAM_ID'] != team_id)]
    opponent_score = int(opponent_row['PTS'].values[0])

    row_score = int(row['PTS'])

    # get score of opponent and assign winner 
    is_winner = 1 if opponent_score < row_score else 0
    win_col.append(is_winner)

print(len(win_col))

games_df["IS_WINNER"] = win_col

1944

In [8]:
games_df[(games_df['TEAM_ID'] == "1610616834")]

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
1943,5e8cc2f5fe274128a4fb69e9,2020-02-16T00:00:00,1,0031900001,1610616834,LBN,Team,LeBron,1-0,53,...,0,0,157,0.5,0.55,0.343,39,49,18,1

In [9]:
print(list(gamesDB.games_db.find({"TEAM_ID":"1610616833"})))

[{'_id': ObjectId('5e8c6c462371b2dbaa0b49d5'), 'TEAM_CITY_NAME': 'Team', 'GAME_DATE_EST': '2020-02-16T00:00:00', 'PTS_OT10': '0', 'TEAM_ID': '1610616833', 'REB': '61', 'TEAM_NAME': 'Giannis', 'TEAM_WINS_LOSSES': '0-1', 'GAME_SEQUENCE': '1', 'TEAM_ABBREVIATION': 'GNS', 'PTS_OT8': '0', 'PTS_OT9': '0', 'PTS_OT2': '0', 'PTS_OT3': '0', 'PTS_OT1': '0', 'PTS': '155', 'PTS_OT7': '0', 'PTS_OT4': '0', 'PTS_OT5': '0', 'TOV': '21', 'GAME_ID': '0031900001', 'FT_PCT': '0.632', 'PTS_OT6': '0', 'FG_PCT': '0.537', 'AST': '38', 'FG3_PCT': '0.275', 'PTS_QTR3': '41', 'PTS_QTR2': '51', 'PTS_QTR1': '41', 'PTS_QTR4': '22'}]

In [10]:
games_df.describe()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.0,1944.0,1944.0,1944.0,...,1944.0,1944.0,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,27.898663,28.100823,27.697531,27.072016,0.675412,0.047840,0.0,0.0,0.0,0.0,...,0.0,0.0,111.492284,0.460948,0.768782,0.356963,24.361626,44.864712,13.885802,0.500000
std,6.016149,5.818769,6.118497,6.080770,2.807624,0.695752,0.0,0.0,0.0,0.0,...,0.0,0.0,12.485336,0.054985,0.101776,0.085486,4.921555,6.736318,4.061205,0.500129
min,9.000000,10.000000,10.000000,6.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,73.000000,0.269000,0.375000,0.094000,11.000000,25.000000,3.000000,0.000000
25%,24.000000,24.000000,23.000000,23.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,103.000000,0.422000,0.704000,0.300000,21.000000,40.000000,11.000000,0.000000
50%,28.000000,28.000000,28.000000,27.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,111.000000,0.460000,0.774000,0.357000,24.000000,45.000000,14.000000,0.500000
75%,32.000000,32.000000,32.000000,31.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,120.000000,0.500000,0.839000,0.415000,28.000000,49.000000,17.000000,1.000000
max,53.000000,51.000000,49.000000,51.000000,21.000000,14.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,159.000000,0.674000,1.000000,0.680000,43.000000,67.000000,28.000000,1.000000

In [11]:
games_df.head()

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
0,5e8b3c9055dca7119bcd0e8f,2019-10-22T00:00:00,1,0021900001,1610612740,NOP,New Orleans,Pelicans,0-1,30,...,0,0,122,0.422,0.850,0.422,30,53,19,0
1,5e8b3c9055dca7119bcd0e91,2019-10-22T00:00:00,1,0021900001,1610612761,TOR,Toronto,Raptors,1-0,27,...,0,0,130,0.408,0.842,0.350,23,57,16,1
2,5e8b3c9055dca7119bcd0e93,2019-10-22T00:00:00,2,0021900002,1610612747,LAL,Los Angeles,Lakers,0-1,25,...,0,0,102,0.435,0.714,0.394,20,41,14,0
3,5e8b3c9055dca7119bcd0e95,2019-10-22T00:00:00,2,0021900002,1610612746,LAC,LA,Clippers,1-0,22,...,0,0,112,0.519,0.708,0.355,24,45,14,1
4,5e8b3c9155dca7119bcd0e97,2019-10-23T00:00:00,1,0021900003,1610612741,CHI,Chicago,Bulls,0-1,28,...,0,0,125,0.467,0.818,0.300,25,49,10,0

## Exploratory Data Analysis

In [12]:
games_df.describe()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.0,1944.0,1944.0,1944.0,...,1944.0,1944.0,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,27.898663,28.100823,27.697531,27.072016,0.675412,0.047840,0.0,0.0,0.0,0.0,...,0.0,0.0,111.492284,0.460948,0.768782,0.356963,24.361626,44.864712,13.885802,0.500000
std,6.016149,5.818769,6.118497,6.080770,2.807624,0.695752,0.0,0.0,0.0,0.0,...,0.0,0.0,12.485336,0.054985,0.101776,0.085486,4.921555,6.736318,4.061205,0.500129
min,9.000000,10.000000,10.000000,6.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,73.000000,0.269000,0.375000,0.094000,11.000000,25.000000,3.000000,0.000000
25%,24.000000,24.000000,23.000000,23.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,103.000000,0.422000,0.704000,0.300000,21.000000,40.000000,11.000000,0.000000
50%,28.000000,28.000000,28.000000,27.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,111.000000,0.460000,0.774000,0.357000,24.000000,45.000000,14.000000,0.500000
75%,32.000000,32.000000,32.000000,31.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,120.000000,0.500000,0.839000,0.415000,28.000000,49.000000,17.000000,1.000000
max,53.000000,51.000000,49.000000,51.000000,21.000000,14.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,159.000000,0.674000,1.000000,0.680000,43.000000,67.000000,28.000000,1.000000

In [13]:
games_df['IS_WINNER'].value_counts()

1    972
0    972
Name: IS_WINNER, dtype: int64

In [14]:
games_df.groupby('IS_WINNER').mean()

,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS_OT1,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
IS_WINNER,,,,,,,,,,,,,,,,,,,,,
0,26.385802,26.816872,26.220165,25.750000,0.530864,0.037037,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,105.740741,0.435853,0.759907,0.328004,23.109053,42.662551,14.091564
1,29.411523,29.384774,29.174897,28.394033,0.819959,0.058642,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,117.243827,0.486042,0.777656,0.385922,25.614198,47.066872,13.680041

In [15]:
print(games_df.dtypes)

_id                   object
GAME_DATE_EST         object
GAME_SEQUENCE         object
GAME_ID               object
TEAM_ID               object
TEAM_ABBREVIATION     object
TEAM_CITY_NAME        object
TEAM_NAME             object
TEAM_WINS_LOSSES      object
PTS_QTR1               int64
PTS_QTR2               int64
PTS_QTR3               int64
PTS_QTR4               int64
PTS_OT1                int64
PTS_OT2                int64
PTS_OT3                int64
PTS_OT4                int64
PTS_OT5                int64
PTS_OT6                int64
PTS_OT7                int64
PTS_OT8                int64
PTS_OT9                int64
PTS_OT10               int64
PTS                    int64
FG_PCT               float64
FT_PCT               float64
FG3_PCT              float64
AST                    int64
REB                    int64
TOV                    int64
IS_WINNER              int64
dtype: object

### Feature Engineering

In [24]:
# create unique list of team ids
unique_team_ids = games_df['TEAM_ID'].unique()

# create a data frame dictionary to store data frames by team_id
games_by_team = {elem : pd.DataFrame for elem in unique_team_ids}

for key in games_by_team.keys():
    games_by_team[key] = games_df[:][games_df['TEAM_ID'] == key]

In [26]:
games_by_team['1610612743']

,_id,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,...,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV,IS_WINNER
24,5e8b3c9155dca7119bcd0ebf,2019-10-23T00:00:00,11,0021900013,1610612743,DEN,Denver,Nuggets,1-0,24,...,0,0,108,0.420,0.815,0.563,24,45,19,1
45,5e8b3c9455dca7119bcd0ee9,2019-10-25T00:00:00,7,0021900023,1610612743,DEN,Denver,Nuggets,2-0,15,...,0,0,108,0.391,0.806,0.259,21,45,14,1
98,5e8b3c9855dca7119bcd0f53,2019-10-28T00:00:00,10,0021900050,1610612743,DEN,Denver,Nuggets,3-0,21,...,0,0,101,0.367,0.905,0.278,19,54,10,1
105,5e8b3c9955dca7119bcd0f61,2019-10-29T00:00:00,2,0021900053,1610612743,DEN,Denver,Nuggets,3-1,31,...,0,0,106,0.473,0.692,0.344,24,50,10,0
132,5e8b3c9c55dca7119bcd0f98,2019-10-31T00:00:00,2,0021900067,1610612743,DEN,Denver,Nuggets,3-2,30,...,0,0,107,0.483,0.875,0.269,24,35,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,5e8c6c5c2371b2dbaa0b4b52,2020-03-03T00:00:00,5,0021900913,1610612743,DEN,Denver,Nuggets,41-20,25,...,0,0,100,0.448,0.731,0.150,22,53,15,0
1849,5e8c6c5f2371b2dbaa0b4b86,2020-03-05T00:00:00,1,0021900926,1610612743,DEN,Denver,Nuggets,42-20,31,...,0,0,114,0.530,0.900,0.308,29,38,12,1
1881,5e8c6c602371b2dbaa0b4bc6,2020-03-07T00:00:00,3,0021900942,1610612743,DEN,Denver,Nuggets,42-21,33,...,0,0,102,0.506,0.375,0.406,28,33,17,0
1914,5e8c6c642371b2dbaa0b4c08,2020-03-09T00:00:00,2,0021900958,1610612743,DEN,Denver,Nuggets,43-21,39,...,0,0,109,0.436,0.917,0.390,28,48,12,1
1941,5e8c6c652371b2dbaa0b4c46,2020-03-11T00:00:00,6,0021900973,1610612743,DEN,Denver,Nuggets,43-22,29,...,0,0,97,0.470,0.625,0.359,23,40,15,0

In [ ]:
# calculate running average 
def running_avg(data):
    running_avg = []

    for i in range(len(data)):
        avg = sum(data[:i+1]) / (i + 1)
        running_avg.append(avg)
    return running_avg
    
print(running_avg(games_by_team['1610612743']['PTS']))